[gui]
	recentrepo = C:/_projects/smapi
	recentrepo = C:/_projects/smdb
	recentrepo = C:/3MHIS/datagrid
	recentrepo = C:/_projects/custom_reports
[user]
	name = Shane Walters
	email = nbstrat@gmail.com
[core]
	autocrlf = true
	editor = \"C:/Program Files (x86)/GitExtensions/GitExtensions.exe\" fileeditor
	longpaths = true
	packedGitLimit = 128m
	packedGitWindowSize = 128m
	excludesfile = ~/.gitignore_global
	trustExitCode = true
[merge]
	tool = kdiff3
[diff]
	guitool = kdiff3
[push]
	default = matching
[alias]
	hist = log --oneline --abbrev-commit --all --graph --decorate --color
	changelog = !$GIT_DIR/changelog.sh
[pvcs]
	location = c:/pvcs
[color "status"]
	changed = red normal bold
	untracked = red normal bold
	added = green normal bold
[color "diff"]
	old = red normal bold
	new = green normal bold
[color "branch"]
	remote = red normal bold
	current = green normal bold
	plain = red normal dim
	local = white normal bold
[color "interactive"]
	error = red bold
	prompt = green normal bold
[mergetool "kdiff3"]
	path = C:/Program Files/KDiff3/kdiff3.exe
[difftool "kdiff3"]
	path = C:/Program Files/KDiff3/kdiff3.exe
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	required = true
	clean = git-lfs clean -- %f
	process = git-lfs filter-process
[pack]
	deltaCacheSize = 128m
	packSizeLimit = 128m
	windowMemory = 512m
[includeIf "gitdir:C:/_projects/"]
	path = .gitconfig-work
[includeIf "gitdir:C:/3MHIS/"]
	path = .gitconfig-work
[credential]
	helper = manager
[http]
	postBuffer = 524288000
[status]
	showUntrackedFiles = all
