
# standard windows workstation directories
/3D Objects/
/AppData/
/Application Data/
[Cc]ontacts*/
/Cookies/
Desktop/
Documents/
My Documents/
Downloads/
Favorites/
IntelGraphicsProfiles/
Links/
/Local Settings/
/MicrosoftEdgeBackups/
Music/
/NetHood/
OneDrive/
Oracle/
Pictures/
/PrintHood/
/Recent/
Saved Games/
Searches/
/SendTo/
/Start Menu/
/Templates/
Videos/

# appleCrap
/iCloudDrive

# Atom editor
/.atom/

# ruby / jekyll related ?
/.bundle/
.csslintrc
.eslintrc
/.gem/
coffeelint.json
tslint.json

# ntuser folders/files
NTUSER.DATE*
ntuser*

# gov bs ?
vESD/

# my custom directories
VC/
VET/
devtools/
MyDocs/

# my worklog output file
worklog.txt

# normal operational files
_viminfo
.viminfo

# vim network history
vimfiles/.netrwhist

.bash_history

# visual studio
/.dotnet
/.nuget

SQL Developer Export Files
*export.htm
*export.sql
