
# standard windows workstation directories
/AppData/
[Cc]ontacts*/
Desktop/
Documents/
Downloads/
Favorites/
IntelGraphicsProfiles/
Links/
Music/
OneDrive/
Oracle/
Pictures/
Saved Games/
Searches/
Videos/

# appleCrap
/iCloudDrive

# ntuser folders/files
NTUSER.DATE*
ntuser*

# gov bs ?
vESD/

# my custom directories
VC/
VET/
devtools/

# my worklog output file
worklog.txt

# normal operational files
Thumbs.db
*.zip
*.swp
_viminfo
.viminfo

# vim network history
vimfiles/.netrwhist

.bash_history

# visual studio
/.dotnet
/.nuget

