# This was temporarily used at the TTMS location in an attempt to 
# maintain npm packages on a server that was behind the firewall.
# It was too much trouble and creating a git repo of a working npm directory structure 
# from a non government pc was the approach that was utilized.
#registry=http://ci.dev.ttms.us.af.mil:4873
